<div class="login-container">
    <img class="film" src="https://scitechdaily.com/images/Human-Brain-Memories-Neurons.jpg" alt="film">
    <div class="logo">ISCHEMIC STROKE LESION SEGMENTATION FOR MRI IMAGES</div>
    <div class="desc">Our model includes a spatially increasing embedding which can be  used as guidance for an encoder-decoder network,
        It helps ensure that small structures are not lost through spatial downsampling in the encoder.
        </div>
    <div class="login-form">
        <div class="form-group">
            <label for="username">Username</label>
            <input  [(ngModel)]="username" type="text" class="form-control" id="username" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input  [(ngModel)]="password" type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <div class="btn-container">
        <div class="error">{{ errorMsg }}</div>
        <button type="submit" (click)="login()" class="btn btn-primary">Login</button>
    </div>
</div>